<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">


    <mvc:annotation-driven/>
    <context:component-scan base-package="com.lc.controller"/>
    <!--这一句设置资源加载的根路径-->
    <mvc:resources location="/static/" mapping="/static/**"/>

    <!--设置不同的拦截器-->
    <mvc:interceptors>
        <!--如果一个请求的url满足多个interceptor的path，则按照interceptor定义的顺序执行preHandle，但是postHandle、afterCompletion都将按照preHandle相反的顺序执行-->
        <!--可以交换这两interceptor的顺序验证preHandle的执行顺序-->
        <mvc:interceptor>
            <!--如果path-->
            <mvc:mapping path="/*"/>
            <bean class="com.lc.interceptor.MyInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/demo"/>
            <bean class="com.lc.interceptor.AnotherInterceptor"/>
        </mvc:interceptor>


    </mvc:interceptors>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="requestContextAttribute" value="rc"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <!-- freemarker的配置 -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/pages"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>


</beans>